:root {
  --product-flag-reduced-price-color: #f2434a;
  --product-flag-new-color: #3387f2;
  --product-flag-on-sale-color: #ffd302;
  --product-flag-online-only-color: #ff9a52;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: 999;
}

.loading .boxLoading {
  width: 50px;
  height: 50px;
  margin: auto;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.loading .boxLoading::before {
  content: '';
  width: 50px;
  height: 5px;
  background: #000;
  opacity: 0.1;
  position: absolute;
  top: 59px;
  left: 0;
  border-radius: 50%;
  -webkit-animation: shadow 0.5s linear infinite;
          animation: shadow 0.5s linear infinite;
}

.loading .boxLoading::after {
  content: '';
  width: 50px;
  height: 50px;
  background: #B28FCE;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 3px;
  -webkit-animation: animate 0.5s linear infinite;
          animation: animate 0.5s linear infinite;
}

@-webkit-keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
            transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(18px) rotate(45deg);
            transform: translateY(18px) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
            transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
}

@keyframes animate {
  17% {
    border-bottom-right-radius: 3px;
  }
  25% {
    -webkit-transform: translateY(9px) rotate(22.5deg);
            transform: translateY(9px) rotate(22.5deg);
  }
  50% {
    -webkit-transform: translateY(18px) rotate(45deg);
            transform: translateY(18px) rotate(45deg);
    border-bottom-right-radius: 40px;
  }
  75% {
    -webkit-transform: translateY(9px) rotate(67.5deg);
            transform: translateY(9px) rotate(67.5deg);
  }
  100% {
    -webkit-transform: translateY(0) rotate(90deg);
            transform: translateY(0) rotate(90deg);
  }
}

@-webkit-keyframes shadow {
  0%, 100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
}

@keyframes shadow {
  0%, 100% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1);
  }
  50% {
    -webkit-transform: scale(1.2, 1);
            transform: scale(1.2, 1);
  }
}

.sitemap {
  background: url(../IMG/BreadcrumbBackground.jpg);
  background-position: center center;
  background-size: cover;
}

.content,
.category {
  margin-top: 5em;
}

.category__title {
  display: block;
  padding: 16px 20px;
}

.category__title > * {
  margin-bottom: 0;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--black-color);
}

.category__danger .category__title {
  background-color: var(--category-danger-title-bg-color);
}

.category__danger .category__title a {
  color: var(--white-color);
}

.category__danger .category__title a:hover {
  color: var(--navbar-mobile-bg-color);
  text-decoration: none;
}

.category__danger .category__list {
  padding-inline: 2em;
  list-style: none;
  background-color: var(--category-danger-list-bg-color);
}

.category__danger .category__list .category__item {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
}

.category__danger .category__list .category__item .category__link {
  padding: 15px 20px 15px 0;
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--white-color);
}

.category__danger .category__list .category__item .category__icon {
  padding: 5px 0 5px 5px;
}

.category__danger .category__list .category__item .category__link,
.category__danger .category__list .category__item .category__icon {
  color: var(--white-color);
  cursor: pointer;
}

.category__danger .category__list .category__item .category__link:hover,
.category__danger .category__list .category__item .category__icon:hover {
  text-decoration: none;
  color: var(--navbar-mobile-bg-color);
}

.category__danger .category__list .category__item:not(:last-child) {
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
}

.category__primary {
  margin-block: 3em;
  padding-bottom: 3em;
  border: 1px solid #eaeaea;
  border-top: 2px solid var(--navbar-mobile-bg-color);
}

.category__primary .category__title {
  border-bottom: 1px solid #eaeaea;
}

.category__primary.category__primary--product {
  padding-bottom: 0;
  margin-bottom: 0;
}

.clear-all {
  margin-top: 2.28571em;
  font-size: 1.4rem;
  font-weight: 400;
  color: #666;
}

.clear-all span {
  cursor: pointer;
}

.clear-all span:hover {
  color: var(--navbar-mobile-bg-color);
}

.category__list__title {
  margin-top: 1.73333em;
  font-weight: 600;
}

.category__primary__body {
  padding-inline: 2em;
}

.category__list__color,
.category__list.category__list--checkbox {
  list-style: none;
}

.category__list__color {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  row-gap: 0.9em;
}

.category__item__color {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.category__item__color:is(:hover, .active) .category__item__color__checkbox {
  border: 2px solid #414141;
}

.category__item__color__checkbox {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
          box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.15);
}

.category__item__color__checkbox input {
  opacity: 0;
}

.category__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-block: 0.6em;
}

.category__item > * {
  cursor: pointer;
}

.category__item label,
.category__item__color__text {
  margin-bottom: 0;
  margin-left: 0.45454em;
  font-size: 1.1em;
  font-weight: 300;
  cursor: pointer;
}

.category__item label:hover,
.category__item__color__text:hover {
  color: var(--navbar-mobile-bg-color);
}

.category__submenu {
  width: 100%;
  height: 0;
  overflow: hidden;
  list-style: none;
  border-top: 1px solid rgba(255, 255, 255, 0.15);
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.category__submenu .category__subitem {
  padding-block: 0.5em;
}

.category__submenu .category__subitem .category__subicon,
.category__submenu .category__subitem .category__sublink {
  color: var(--white-color);
}

.category__submenu .category__subitem .category__subicon {
  margin-inline: 0.5em 0.9em;
}

.category__submenu .category__subitem .category__sublink {
  display: inline-block;
  font-size: 1.3em;
  font-weight: 300;
  -webkit-transition: 0.25s;
  transition: 0.25s;
}

.category__submenu .category__subitem .category__sublink:hover {
  text-decoration: none;
  -webkit-transform: translateX(8px);
          transform: translateX(8px);
}

.category__submenu .category__subitem:first-child {
  margin-top: 1.2em;
}

.category__submenu .category__subitem:last-child {
  margin-bottom: 1.2em;
}

.category__product__list {
  margin-bottom: 0;
  list-style: none;
}

.category__product__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1em;
  padding: 15px 20px;
}

.category__product__item:not(:last-child) {
  border-bottom: 1px solid #eaeaea;
}

.category__product__img {
  position: relative;
  width: 80px;
  height: 80px;
}

.content-product {
  margin-bottom: 5em;
}

:is(.content-product__item, .category__product__img) a img {
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
}

:is(.content-product__item, .category__product__img) a img.hover {
  position: absolute;
  inset: 0;
  z-index: -1;
}

.category__product__info {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.rating {
  margin-bottom: 1.4em;
  color: #e3e3e3;
}

:is(.content-product__item__info__name, .category__product__title) a {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black-color);
  overflow: hidden;
}

:is(.content-product__item__info__name, .category__product__title) a:hover {
  text-decoration: none;
  color: var(--navbar-mobile-bg-color);
}

.category__product__price {
  margin-top: 0.8em;
}

.old-price {
  margin-inline: 0.4286em;
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: line-through;
  color: #414141;
}

.discount {
  margin-left: 1px;
  font-size: 1.3rem;
  font-weight: 600;
  color: #f1404b;
}

.price {
  margin-top: 0.1333em;
  font-size: 1.5rem;
  font-weight: 600;
  color: #2a61d2;
}

.btn-product {
  margin-top: 0.83333em;
  padding: 0.41666em 0.83333em;
  font-size: 1.2em;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: var(--navbar-mobile-bg-color);
  border-radius: 0;
}

.btn-product:hover {
  color: var(--white-color);
  background-color: var(--primary-btn-hover-bg-color);
}

.category__primary--text .category__product__body {
  padding: 2.6em 2em;
}

.category__primary--text .category__product__body a {
  font-size: 1.4rem;
  font-weight: 300;
  color: var(--black-color);
  text-decoration: none;
}

.category__primary--text .category__product__body a:hover {
  color: var(--navbar-mobile-bg-color);
}

.content .introduce {
  padding: 1.4286em;
  font-size: 1.4em;
  font-weight: 400;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #666;
}

.product-introduction__item {
  margin-top: 2.5em;
  list-style: none;
}

.product-introduction__name {
  margin-top: 1.5em;
}

.product-introduction__name a {
  font-size: 1.6rem;
  font-weight: 500;
  text-decoration: none;
  color: var(--black-color);
}

.product-introduction__name a:hover {
  color: var(--navbar-mobile-bg-color);
}

.product-introduction__description {
  font-size: 1.3rem;
  font-weight: 300;
  color: #666;
}

.content-product__filter {
  margin-top: 5em;
  padding: 1em 1.5em;
  background-color: #f8f8f8;
}

.content-product__filter__icon {
  font-size: 1.3rem;
}

.content-product__filter__icon__item {
  padding-block: 0.3em;
  margin-right: 0.5em;
  color: #ccc;
  cursor: pointer;
}

.content-product__filter__icon__item:is(.active, :hover) {
  color: #222;
}

.content-product__filter__sort .btn--filter {
  width: 100%;
  padding: 7px;
  font-size: 1.4em;
  font-weight: 600;
  text-transform: uppercase;
}

.content-product__filter__sort__by__name,
.content-product__filter__sort__label,
.content-product__filter__number {
  font-size: 1.4rem;
  font-weight: 300;
  color: #666;
}

.content-product__filter__sort__by__name {
  color: #555;
}

.content-product__filter__sort__by {
  position: relative;
  padding: 0.5em 1em;
  background: var(--white-color);
  cursor: pointer;
}

.content-product__filter__sort__by.active .content-product__filter__sort__by__list {
  -webkit-animation: sortListAnimation 0.5s ease forwards;
          animation: sortListAnimation 0.5s ease forwards;
}

@-webkit-keyframes sortListAnimation {
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes sortListAnimation {
  100% {
    visibility: visible;
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.content-product__filter__sort__by__list {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  visibility: hidden;
  background: #fff;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.18);
          box-shadow: 0 3px 3px rgba(0, 0, 0, 0.18);
  opacity: 0;
  z-index: 2;
  -webkit-transform: translateY(8px);
          transform: translateY(8px);
}

.content-product__filter__sort__by__list ul {
  margin-bottom: 0;
  list-style: none;
}

.content-product__filter__sort__by__list ul li {
  padding: 0.3846em 0.7692em;
  font-size: 1.3rem;
  font-weight: 300;
  cursor: pointer;
}

.content-product__filter__sort__by__list ul li:hover {
  color: var(--white-color);
  background: var(--navbar-mobile-bg-color);
}

.content-product__list {
  margin-top: 2.5em;
}

.content-product__list--grid {
  border-left: 1px solid #eaeaea;
  border-bottom: 1px solid #eaeaea;
}

.content-product__item {
  padding: 2em;
  border-top: 1px solid #eaeaea;
  border-right: 1px solid #eaeaea;
  overflow: hidden;
}

.content-product__item__img {
  position: relative;
  margin-bottom: 1.9em;
  overflow: hidden;
}

.content-product__item__img > a {
  display: block;
}

.content-product__item__img > a::after {
  content: '';
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8);
  opacity: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.content-product__item__info__name {
  margin-bottom: 0.73333em;
}

.function-buttons,
.product-flags {
  position: absolute;
  top: 1.1em;
  left: 1em;
}

.product-flag {
  padding: 1px 7px;
  font-size: 1.1em;
  border: 1px solid;
  border-radius: 15px;
}

.product-flag.reduced-price {
  color: var(--product-flag-reduced-price-color);
  border-color: var(--product-flag-reduced-price-color);
}

.product-flag.new {
  color: var(--product-flag-new-color);
  border-color: var(--product-flag-new-color);
}

.product-flag.on-sale {
  color: var(--product-flag-on-sale-color);
  border-color: var(--product-flag-on-sale-color);
}

.product-flag.online-only {
  color: var(--product-flag-online-only-color);
  border-color: var(--product-flag-online-only-color);
}

.product-flag:not(:last-child) {
  margin-right: 0.2727em;
}

.function-buttons li {
  opacity: 0;
  -webkit-animation-delay: 5s;
          animation-delay: 5s;
}

.function-buttons li a {
  --width: 45px;
  width: var(--width);
  height: var(--width);
  font-size: 1.4em;
  text-decoration: none;
  background: var(--navbar-mobile-bg-color);
  color: var(--white-color);
  border: 1px solid var(--navbar-mobile-bg-color);
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.function-buttons li:not(:last-child) a {
  margin-bottom: 0.7143em;
}

.function-buttons li.active:is(:nth-child(2)) > a {
  opacity: 0.65;
}

.content-product__pagination {
  padding: 1.2em 1.5em;
  margin-top: 2.5em;
  background-color: #f1f1f1;
}

.content-product__pagination__btn-nav {
  margin-right: -1em;
}

.content-product__pagination__title {
  font-size: 1.4rem;
  font-weight: 300;
  color: #272727;
}

.content-product__pagination__btn {
  padding-inline: 0.625em;
  font-size: 1.6rem;
  font-weight: 400;
  color: var(--black-color);
  cursor: pointer;
}

.content-product__pagination__btn.active, .content-product__pagination__btn:hover {
  color: var(--navbar-mobile-bg-color);
}

#modal-product .modal-dialog {
  width: calc(100% - 30px);
  max-width: 1024px;
}

#modal-product .modal-content {
  border-radius: 4.8px;
}

.modal__product__content {
  width: 100%;
}

.modal__product__content__header {
  padding: 1em;
}

.modal__product__content__header .close {
  margin-top: 1px;
  float: unset;
  font-size: 1.5rem;
}

.modal__product__content__body {
  margin-top: 1.6em;
  padding-inline: 1.5em;
}

.modal__product__content__body__item__list > ul {
  --width: 8em;
  width: var(--width);
  max-height: calc(var(--width) * 4);
  overflow: hidden;
}

.modal__product__content__body__item__list .modal__product__content__body__item__list__btn {
  width: 100%;
  height: 2em;
  color: var(--navbar-mobile-bg-color);
  background-color: var(--white-color);
  border: 1px solid var(--navbar-mobile-bg-color);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.modal__product__content__body__item__list .modal__product__content__body__item__list__btn:hover {
  color: var(--white-color);
}

.modal__product__content__body__item__list .modal__product__content__body__item__list__btn.disabled i {
  opacity: 0.65;
}

.modal__product__content__body__item__list ul li {
  opacity: 0.5;
  -webkit-transition: 0.5s ease;
  transition: 0.5s ease;
  cursor: pointer;
}

.modal__product__content__body__item__list ul li:is(:hover, .active) {
  opacity: 1;
}

.modal__product__content__body__item .name {
  margin-bottom: 0.6818em;
  font-size: 2.2rem;
  font-weight: 600;
  line-height: 1.5;
  color: var(--black-color);
}

.modal__product__content__body__item p.price {
  margin-bottom: 0.5333em;
}

.modal__product__content__body__item p.price span.price {
  font-size: 2rem;
  font-weight: 700;
}

.modal__product__content__body__item p.price span.old-price {
  font-size: 1.4rem;
  font-weight: 500;
  color: #acaaa6;
}

.modal__product__content__body__item p.price span.discount {
  font-size: 1.3rem;
  font-weight: 300;
  color: var(--navbar-mobile-bg-color);
}

.modal__product__content__body__item p.detail {
  margin-bottom: 0.4615em;
  font-size: 1.3em;
  font-weight: 300;
  color: #878787;
}

.modal__product__content__body__item label,
.modal__product__content__body__item p.description {
  font-size: 1.4em;
  font-weight: 300;
  color: #666666;
}

.modal__product__content__body__item label {
  width: 100px;
}

.modal__product__content__body__item .size-list {
  padding-top: 2.2em;
  margin-block: 1.5em 2.4em;
  border-top: 1px solid #eaeaea;
}

.modal__product__content__body__item .size-list ul li {
  padding: 0.2857em 0.7143em;
  font-size: 1.4em;
  font-weight: 300;
  border: 2px solid #e5e5e5;
  color: #414141;
  cursor: pointer;
}

.modal__product__content__body__item .size-list ul li:is(:hover, .active) {
  color: var(--navbar-mobile-bg-color);
  border-color: var(--navbar-mobile-bg-color);
}

.modal__product__content__body__item .size-list ul li:not(:last-child) {
  margin-right: 0.7143em;
}

.modal__product__content__body__item .color-list {
  margin-bottom: 2.8em;
}

.modal__product__content__body__item .color-list ul li {
  width: 3em;
  height: 3em;
  background: var(--color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.modal__product__content__body__item .color-list ul li:is(:hover, .active) {
  border: 2px solid var(--navbar-mobile-bg-color);
}

.modal__product__content__body__item .color-list ul li:not(:last-child) {
  margin-right: 1.5em;
}

.modal__product__content__body__item .quantity div > * {
  height: 2.5em;
  padding: 0.57142em;
  font-size: 1.4rem;
  outline: none;
}

.modal__product__content__body__item .quantity div button {
  width: 2.1429em;
  color: #666;
  background: #f3f3f3;
  border: none;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.modal__product__content__body__item .quantity div button:hover {
  color: var(--white-color);
  background: var(--navbar-mobile-bg-color);
}

.modal__product__content__body__item .quantity div input {
  width: 60px;
  margin-inline: 3px;
  color: #6a6a6a;
}

.modal__product__content__body__item .quantity div input, .modal__product__content__body__item .quantity div input:focus {
  border: 1px solid #f3f3f3;
  border-radius: 0;
}

.modal__product__content__body__item .group-btns {
  padding-top: 3em;
  margin-top: 2em;
  border-top: 1px solid #eaeaea;
}

.modal__product__content__body__item .group-btns .btn {
  padding-inline: 0;
  margin-right: 0.7143em;
  font-size: 1.4rem;
  font-weight: 400;
}

.modal__product__content__body__item .group-btns .btn.is-added {
  opacity: 0.65;
}

.modal__product__content__body__item .group-btns .btn:hover {
  color: var(--navbar-mobile-bg-color);
}

.modal__product__content__body__item .group-btns .btn.btn-primary {
  padding: 0.8214em 2.14285em;
  margin-right: 1.07142em;
  background-color: var(--navbar-mobile-bg-color);
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.modal__product__content__body__item .group-btns .btn.btn-primary:hover {
  color: var(--white-color);
  background-color: #0053ff;
}

.modal__product__content__body__item .in-stock {
  margin-top: 0.8em;
}

.modal__product__content__body__item .in-stock span {
  font-size: 1.4rem;
}

.modal__product__content__body__item .in-stock span.in-stock__icon--success {
  color: #4cbb6c;
}

.modal__product__content__body__item .in-stock span.in-stock__icon--error {
  color: #ff9a52;
}

.modal__product__content__body__item .in-stock span.in-stock--text {
  font-weight: 700;
}

.modal__product__content__footer {
  border-top: 1px solid #eaeaea;
}

.modal__product__content__footer a {
  font-size: 1.2rem;
  color: #666;
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
}

.modal__product__content__footer a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.modal__product__content__footer .btn--facebook:hover {
  color: #3c5a98;
}

.modal__product__content__footer .btn--twitter:hover {
  color: #55acee;
}

.modal__product__content__footer .btn--google:hover {
  color: #d6492f;
}

.modal__product__content__footer .btn--pinterest:hover {
  color: #cb2027;
}

#modal-tost .modal-dialog {
  position: absolute;
  top: 50%;
  left: 50%;
  max-width: 600px;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#modal-tost .modal-content {
  border-radius: 0;
}

#modal-tost .modal-body {
  padding: 1.8em 4.6em;
}

#modal-tost .modal-body h3 {
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.5;
}

#modal-tost .modal-body h3 a {
  font-weight: 900;
  text-decoration: none;
  color: var(--black-color);
}

#modal-tost .modal-body h3 a:hover {
  color: var(--navbar-mobile-bg-color);
}

#modal-tost .modal-body .btn {
  position: absolute;
  top: 50%;
  right: 1.2em;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 5px;
  -webkit-box-shadow: none;
          box-shadow: none;
}

@-webkit-keyframes rotateAnimated {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rotateAnimated {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes functionButtonAnimated {
  0% {
    opacity: 0;
    -webkit-transform: translateX(calc(3.3em + 45px));
            transform: translateX(calc(3.3em + 45px));
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes functionButtonAnimated {
  0% {
    opacity: 0;
    -webkit-transform: translateX(calc(3.3em + 45px));
            transform: translateX(calc(3.3em + 45px));
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

/* Resp */
@media (min-width: 992px) {
  :is(.category__product__item, .content-product__item):hover img:not(.hover) {
    opacity: 0;
  }
  .content-product__item:hover .function-buttons li {
    -webkit-animation: functionButtonAnimated 0.25s calc(var(--i) * 0.1s) ease-in-out forwards;
            animation: functionButtonAnimated 0.25s calc(var(--i) * 0.1s) ease-in-out forwards;
  }
  .function-buttons {
    top: 3.1em;
    right: 1.3em;
    left: unset;
    z-index: 1;
  }
  .function-buttons li {
    -webkit-transform: translateX(calc(3.3em + 45px));
            transform: translateX(calc(3.3em + 45px));
  }
  .function-buttons li a:hover {
    background: var(--white-color);
    color: var(--navbar-mobile-bg-color);
  }
  .content-product__item:hover .content-product__item__img > a::after {
    opacity: 1;
  }
}

/* Large */
@media (max-width: 1199px) {
  .function-buttons li a {
    --width: 35px;
  }
}

/* Medium */
@media (max-width: 991px) {
  .hidden-md {
    display: none;
  }
  .mt-3-md {
    margin-top: 1rem;
  }
  .pb-3-md {
    padding-bottom: 1rem;
  }
  .mb-0-md {
    margin-top: 0;
  }
  .content-product__item .function-buttons {
    position: relative;
    top: 0;
    left: 0;
    gap: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .content-product__item .function-buttons li {
    opacity: 1;
  }
  .content-product__item .function-buttons li a {
    border-radius: 0;
  }
}

/* Small */
@media (max-width: 768px) {
  .d-sm-flex {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .mt-sm-0 {
    margin-top: 0;
  }
  .sitemap {
    background: transparent;
  }
  .sitemap__title {
    color: var(--black-color);
    font-size: 3em;
  }
  #modal-tost .modal-dialog {
    width: 100%;
    max-width: calc(100% - 100px);
  }
  .content-product__item .function-buttons li a {
    --width: 45px;
  }
  .content-product__filter__sort .btn--filter {
    padding: 4px;
  }
}

/* Extra small */
@media (max-width: 575px) {
  .content, .category {
    margin-top: 2em;
  }
  #modal-tost .modal-body {
    padding-inline: 1.8em;
  }
  #modal-tost .modal-body .btn {
    right: 0.2em;
  }
}
/*# sourceMappingURL=menSportsShoes.css.map */