/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

section {
  padding-bottom: 5em;
}

.content__title {
  font-size: 2.8rem;
  font-weight: 600;
  margin-block: 1.92857em 0.67857em;
}

.content__list {
  margin-bottom: 1.6em;
  overflow-x: auto;
}

.content__no-item {
  display: none;
  font-size: 1.3em;
  font-weight: 300;
  color: var(--warn-color);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.1);
  border: 1px solid var(--border-warn-color);
  background: var(--warn-bg-color);
  border-radius: 3px;
  padding: 0.92307em 1.53846em 0.92307em 3.84615em;
  position: relative;
}

.content__list--no-item .content__no-item {
  display: block;
}

.content__no-item__icon {
  position: absolute;
  top: 50%;
  left: 20px;
  -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
      transform: translateY(-50%);
  font-size: 2rem;
}

.btn.content__link {
  background: #666;
  color: var(--white-color);
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.46667em 0.8em;
  -webkit-transition: 0.25s;
  -o-transition: 0.25s;
  transition: 0.25s;
}

.btn.content__link:hover {
  background: var(--navbar-mobile-bg-color);
}

.btn.content__link i {
  margin-right: 0.66667em;
}

.product-flags {
  position: absolute;
  top: 1.1em;
  left: 1em;
}

.product-flag {
  padding: 1px 7px;
  font-size: 1.1em;
  border: 1px solid;
  border-radius: 15px;
}

.product-flag.reduced-price {
  color: var(--product-flag-reduced-price-color);
  border-color: var(--product-flag-reduced-price-color);
}

.product-flag.new {
  color: var(--product-flag-new-color);
  border-color: var(--product-flag-new-color);
}

.product-flag.on-sale {
  color: var(--product-flag-on-sale-color);
  border-color: var(--product-flag-on-sale-color);
}

.product-flag.online-only {
  color: var(--product-flag-online-only-color);
  border-color: var(--product-flag-online-only-color);
}

.product-flag:not(:last-child) {
  margin-right: 0.2727em;
}

.content__list table tr:first-child td:not(:first-child) {
  padding: 1.2em;
}

.content__list table tr td:first-child {
  min-width: 200px;
  font-size: 1.4rem;
  font-weight: 400;
  color: #666;
  padding: 0.85714em 1em;
}

.content__list table tr:first-child td:first-child {
  font-weight: 300;
}

.content__list table tr:not(:first-child) td:not(:first-child) {
  padding: 0.85714em;
  font-size: 1.4rem;
  font-weight: 300;
  color: #666;
}

.content-product__item {
  min-width: 200px;
  max-width: 300px;
}

.content-product__item:hover .content-product__item__img a::after {
  visibility: visible;
  opacity: 1;
}

.content-product__item__delete {
  margin: 0.8em 2.2em 0.6em 0;
}

.content-product__item__delete button {
  font-size: 1.8rem;
}

.content-product__item__delete button:hover {
  color: var(--navbar-mobile-bg-color);
}

.content-product__item__img a::after {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(255, 255, 255, 0.8);
  visibility: hidden;
  opacity: 0;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  z-index: 1;
  -webkit-transition: 0.5s ease;
  -o-transition: 0.5s ease;
  transition: 0.5s ease;
}

.content-product__item__add-cart {
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--white-color);
  background-color: #666;
}

.content-product__item__add-cart:hover {
  color: var(--white-color);
  background-color: var(--navbar-mobile-bg-color);
}

.content-product__item__info__title {
  margin-top: 1.53333em;
}

.content-product__item__info__title a {
  font-size: 1.5rem;
  font-weight: 600;
  color: var(--black-color);
}

.content-product__item__info__title a:hover {
  text-decoration: none;
  color: var(--navbar-mobile-bg-color);
}

.content-product__item__info__description {
  margin: 0.4286em 1px;
  font-size: 1.4rem;
  font-weight: 300;
  color: #666;
}

.content-product__item__info__price {
  margin-bottom: 1em;
}

.content-product__item__info__price .price-old {
  font-size: 1.3rem;
  font-weight: 300;
  text-decoration: line-through;
  color: #414141;
}

.content-product__item__info__price .discount {
  font-size: 1.3rem;
  font-weight: 600;
  color: #f1404b;
}

.content-product__item__info__price .price {
  font-size: 1.5rem;
  font-weight: 600;
  color: #2a61d2;
}