/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* Resp */
/* Large */
/* Medium */
@media (max-width: 991px) {
  .goto__shopping-btn {
    margin-bottom: 1.2rem;
  }
}

/* Small */
/* Extra small */
@media (max-width: 575px) {
  section > .container {
    padding-left: 0;
    padding-right: 0;
  }
  .shopping__cart__child > .row {
    border-bottom: 1px solid #f2f2f2;
  }
  .shopping__cart__child > .row > div {
    text-align: center;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
  }
  .shopping__cart__product-img {
    width: 90px;
    height: 90px;
  }
}