/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* Resp */
/* Large */
@media (max-width: 991px) {
  .site__map {
    padding: 7em 0;
  }
  .contact__box {
    width: 100%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
  }
  .contact__box__content {
    margin-bottom: 2.2rem;
  }
}

@media (max-width: 575px) {
  .site__map {
    padding: 3px 0;
    background-color: #fff;
    color: #333;
  }
  .site__map > p {
    color: #555;
  }
  .site__map-home, .site-map-product-details {
    color: #555;
  }
  .site__map-home:focus, .site-map-product-details:focus {
    color: var(--blue-color);
  }
  .no-gutters > .contact__box__left, .no-gutters > .contact__box__right {
    padding-left: 0px;
    padding-right: 0px;
  }
}