/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

/* Resp */
/* Large */
/* Medium */
@media (max-width: 991px) {
  .footer__navbar__logo {
    margin: 0 auto 2.7em;
  }
  .footer__navbar__title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/* Small */
@media (max-width: 768px) {
  .show-small {
    display: block;
  }
  .footer__navbar__list {
    height: 0;
    overflow: hidden;
  }
  .footer__end__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-block: 3em;
    height: unset;
  }
  .footer__end__item {
    margin-bottom: 0.7857em;
    text-align: center;
  }
}

/* Extra small */