/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

@font-face {
  font-family: 'Montserrat';
  src: url('../FONT/Montserrat/Montserrat-VariableFont_wght.ttf'); /* IE9 Compat Modes */
  
}

*{
  font-family: 'Montserrat',Arial,Helvetica,sans-serif;
}

.site__map {
    padding: 11em 0;
    background-color: var(--sitemap-bg-color);
  }
  
  .site__map > p {
    text-align: center;
    font-size: 1.3rem;
    color: rgba(255, 255, 255, 0.9);
  }
  
  .site__map-home, .site-map-product-details {
    display: inline-block;
    color: rgba(255, 255, 255, 0.9);
    margin: 0 1.2rem;
    font-size: 1.6rem;
  }
  
  .site__map-home:hover, .site-map-product-details:hover {
    color: rgba(255, 255, 255, 0.9);
    text-decoration: underline;
  }
  
.site-map-page ul ul{
  padding-left: 1.4em;
  padding-bottom: 1.6rem ;


}
h3{
  margin-bottom: 1.2rem;
  font-size: 2.4rem;
}
a{
  font-size: 1.6rem;
}